@import "./variables.scss";

// locked-page
.dashboard-locked-page {
  .dashboard-locked {
    background: $themeColor;
    height: 90vh;

    .dashboard-locked-background {
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }

    .caption {
      .title {
        font-size: 3rem;
      }
      .subtitle {
        font-size: 1.1rem;
      }
    }
  }
}

// authenticated dashboard page
.dashboard-page {
  min-height: 100vh;
  .control-panel {
    padding: 48px;
    width: 20%;
    height: 100vh;
    background: linear-gradient(to bottom, #5fb0e5, #007bff, #007bff);

    .brand {
      font-size: 2rem;
    }

    .control-bars {
      .control-bar {
        opacity: 0.5;
        transition: 0.2s;
        white-space: nowrap;
        &:hover {
          opacity: 1;
        }
        .icon {
          font-size: 1.4rem;
        }
      }
    }
  }

  .user-panel {
    background: $themeColor;
    width: 80%;
    height: 100vh;

    .tracks {
      padding: 0 48px;
    }
  }
}

@media (max-width: 1199.98px) {
  .dashboard-page {
    .control-panel {
      padding: 48px 24px;

      .brand {
        font-size: 1.3rem;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .dashboard-page {
    .control-panel {
      width: 15%;
      padding: 48px 0;

      .brand {
        display: none;
      }
    }

    .user-panel {
      width: 85%;

      .tracks {
        padding: 0 24px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .dashboard-page {
    .control-panel {
      background: #007bff;
      height: 7vh;
      padding: 0 0;
      width: 100vw;
      .control-bars {
        .control-bar {
          margin: 0 36px;
        }
      }
    }

    .user-panel {
      height: 93vh;
      width: 100vw;
    }
  }
}
