@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.bold {
  font-weight: 700;
}

.all-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.all-center-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light {
  color: $themeColor !important;
}
.dark {
  color: $darkThemeColor !important;
}
