@import "./variables.scss";

.home-page {
  .hero {
    background: $themeColor;
    height: 90vh;
    .hero-background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
