@import "./variables.scss";

.home-page {
  .hero {
    background: $themeColor;
    height: 90vh;
    .hero-background {
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }

    .caption {
      .title {
        font-size: 3rem;
      }
      .subtitle {
        font-size: 1.1rem;
      }
    }

    .vector {
      width: 50em;
    }
  }

  .feature {
    .column {
      .front-image {
        z-index: 1;
      }
    }
  }

  .discover {
    background: $darkThemeColor;
    .title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1199.98px) {
  .home-page {
    .hero {
      height: 80vh;
      .vector {
        width: 40em;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .home-page {
    .hero {
      height: 70vh;
    }
  }

  .discover {
    .discover-background {
      background: none !important;
    }
  }
}

@media (max-width: 767.98px) {
  .home-page {
    .hero {
      height: 60vh;
      .caption {
        .title {
          font-size: 2.5rem;
          line-height: 3rem;
          margin-bottom: 1rem;
        }
        .subtitle {
          font-size: 1rem;
        }
      }
      .vector {
        width: 30rem;
      }
    }

    .feature {
      h1.title {
        font-size: 1.9rem;
      }
      .column {
        .front-image {
          width: 90px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .home-page {
    .hero {
      .buttons {
        flex-direction: column-reverse !important;
        button {
          margin: 0.5em 0;
        }
      }
    }

    .discover {
      .title {
        font-size: 1.8rem;
      }
    }
  }
}
